{{#*inline "page"}}

<div class="container">
    <form method="POST">
        {{! do we really need this to be doubly nested?, seems over the top...}}
        {{#with this.missions}}
            {{#each this.missions }}
                <h1>{{this.title}}</h1>
                {{#each fields}}
                    {{#if CheckboxField}}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{CheckboxField.text}}" value={{CheckboxField.value}}>
                            <label>{{CheckboxField.text}}</label>
                        </div>
                    {{/if}}
                    {{#if RadioField}}
                        <p>{{RadioField.text}}</p>
                        <div class="form-check">
                            {{#each RadioField.choices}}
                                <input class="form-check-input" type="radio" name="{{../RadioField.text}}" value={{this.value}}>
                                <label>{{this.text}}</label></br>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if StringField}}
                        <p>{{StringField}}</p>
                    {{/if}}
                {{/each}}
            {{/each}}
        {{/with}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{/inline}}
{{~> (parent)~}}
